
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span12">

    <div id="target-1" class="widget">

        <div class="widget-content">

            <h1>B2Drive Sistemine Hoşgeldiniz</h1>
            <br />
            <br />
            <p>Yukarıdaki linkler arasında Personel Yönetimi, Mekan Yönetimi, Fatura yönetimi ve bunun gibi bütün başlıkları bulabilirsiniz.</p>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->

</div>