
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>Important Shortcuts</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <div class="shortcuts">
                <a href="/adminusers" class="shortcut">
                    <i class="shortcut-icon icon-user"></i><span class="shortcut-label">Kullanıcılar</span>
                </a>
                <a href="/admincheckin" class="shortcut">
                    <i class="shortcut-icon icon-long-arrow-down"></i><span class="shortcut-label">Personel Checkin</span>
                </a>
                <a href="/adminphotos" class="shortcut">
                    <i class="shortcut-icon icon-folder-open"></i><span class="shortcut-label">Personel Fotoğraflar</span>
                </a>
                <a href="javascript:;" class="shortcut">
                    <i class="shortcut-icon icon-map-marker"></i><span class="shortcut-label">Personel Mekan Atama</span>
                </a>
                <a href="/adminphotos/supervisorphotolist" class="shortcut">
                    <i class="shortcut-icon icon-folder-open"></i><span class="shortcut-label">Supervisor Fotoğraflar</span>
                </a>
                <a href="/adminsupervisorvisit" class="shortcut">
                    <i class="shortcut-icon icon-road"></i> <span class="shortcut-label">Supervisor Görev Atama</span>
                </a>
                <a href="/raitingquestions" class="shortcut">
                    <i class="shortcut-icon icon-question-sign"></i><span class="shortcut-label">Soru Yönetimi</span>
                </a>

                @*<a href="javascript:;" class="shortcut">
                        <i class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span>
                    </a>
                    <a href="javascript:;" class="shortcut">
                        <i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span>
                    </a>
                    <a href="javascript:;" class="shortcut">
                        <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span>
                    </a>*@
            </div>
            <!-- /shortcuts -->
        </div>
        <!-- /widget-content -->
    </div>
</div>