
@{
    ViewBag.Title = "ErrorMessageSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="span12">

            <div class="error-container">
                <h2>Bu hatayı almayı hiç beklemiyorduk!</h2>

                <h3>Lütfen Tekrar Deneyiniz. Yine hata alıyorsanız yöneticinize bildiriniz.</h3>

            </div> <!-- /error-container -->

        </div> <!-- /span12 -->

    </div> <!-- /row -->

</div> <!-- /container -->